# ----------------------------------------------------------------
# Python 관련
# ----------------------------------------------------------------
__pycache__/
*.py[cod]
*.sqlite3

# 가상환경
venv/
env/
.venv/

# ----------------------------------------------------------------
# 환경 변수, 민감 정보 파일
# ----------------------------------------------------------------
.env

# ----------------------------------------------------------------
# macOS, Windows 등 OS에서 자동 생성되는 파일
# ----------------------------------------------------------------
.DS_Store
Thumbs.db
